/* Login.css */

/* Fondo blanco para toda la página */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}


/* Contenedor del formulario */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

/* Formulario */
.login-form {
    width: 100%;
    max-width: 400px;

}

/* Campos de entrada */
.input-field {
    margin-bottom: 15px;
}

/* Botones */
.login-button {
    margin-top: 20px;
}
