/* OrderList.css */

/* Contenedor de la lista */
.order-list-container {
    padding: 20px;
}

/* Títulos */
.order-list-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Listas */
.order-list {
    list-style-type: none;
    padding: 0;
}

.order-list-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
